{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Welcome</a></li>
        <li class="active"><a href="{{ url_for('analyze')}}">Current Projection</a></li>
        <li><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit">
   <form id="inputForm" style="text-align:center;" method="post" action="{{ url_for('analyze') }}" name="q">
      <div class="control-group">
        <h2>See Startups </h2>
        <p>company name like Heroku, Airbnb, RethinkDB etc.</p>
        <div class="controls">
          <div class="input-append">
            
          <input type="text" autocomplete="off" placeholder="Type Company ..." id="crunch-id" name="crunch-id"
              data-provide="typeahead" data-items="4"
              data-source=''>
            <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
<!--             <a href="/predict" type="" class="btn btn-success" onclick="formSubmit()" >
                <i class="icon-search icon-white"></i>
            </a>
 -->
            <select class="selectpicker" title="market sector" data-width="28px" id="choices">
              <option>web, mobile, software, messaging</option>
              <option>real estate</option>
              <option>enterprise</option>
              <option>fashion</option>
              <option>travel</option>
              <option>advertising, PR</option>
              <option>nonprofile</option>
              <option>ecommerce</option>
              <option>search, analytics</option>
              <option>social</option>
              <option>photo, video, music</option>
              <option>education</option>
              <option>health</option>
              <option>finance</option>
              <option>hardware</option>
              <option>game_video</option>
              <option>hospitality</option>
              <option>local</option>
              <option>legal</option>
            </select>

            <a href="/predict" type="" class="btn btn-success" onclick="formSubmit()" >
                Submit
            </a>

          </div>
        </div>
      </div>
    </form>
</div>

<hr />

<div class="span5">
    <div class="well">
        <h2 class="muted">{{ company.name }}</h2>
        <p>
            <span class="label">SaaS</span>
        </p>
        <p>URL: <a href="www.heroku.com" target="_blank">www.heroku.com</a></p>
        <p>{{ company.desc }}</p>
        <!-- <p><img src="http://www.crunchbase.com/{{ company.img }}" height="50" width="100" /><p> -->
<!--         <p><img src="http://www.crunchbase.com/company/heroku" height="50" width="100" /><p> -->
        <p><img src="{{ url_for('static', filename='img/heroku.jpg' )}}" height="50" width="100" /><p>
        {% if company.tags %}
            <ul>
            {% for tag in company.tags.split(",") %}
                <li>{{ tag }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="span6">
    <h2>Probability of IPO/Acquired: {{prob}}</h2>
    <div class="span5 progress progress-success active">
        <div class="bar" style="width: {{prob}};"></div>
    </div>
    <div class="span5">
        <h3>Estimated valuation: {{valuation}}</h3>
    </div>
    <!--
    <div class="span5">
        <h3>Total money raised: ${{ com_record.total_money_raised }}</h3>
    </div>
    -->
</div>


{% endblock %}

{% block endscript %}
<script>
    function formSubmit()
    {
        document.getElementById("predict-form").submit();
        return false;
    }
</script>
{% endblock %}

